@import url("https://fonts.googleapis.com/css2?family= Montserrat:wght@300;500;800& display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: hsl(94,55%,56%);
  --hover-Color: hsl(93,75%, 76%);
  --paleGreen: hsl(96,75%,89%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor:hsl(0,0%,18%);
  --greyText: hsl(0,0%,75%);
  --bgColor: hsl(113,11%,85%);
  --inputColour: hsl(330,12%,97%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  padding: 10px;
  color: var(--whiteColor);
  background: #000;
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--greyText);
}

.btn:hover {
  background: black;
  color: white;
}

.btn .icon {
  margin-left: 0.5rem;
}

.loginPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 223);
}
.loginPage .container {
  height: 95vh;
  width: 65%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}
.loginPage .container .videoDivcontainer {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 80%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginPage .container .videoDivcontainer video, .loginPage .container .videoDivcontainer .footerDiv {
  position: absolute;
}
.loginPage .container .videoDivcontainer video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loginPage .container .videoDivcontainer .textDiv {
  position: relative;
}
.loginPage .container .videoDivcontainer .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.loginPage .container .videoDivcontainer .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.loginPage .container .videoDivcontainer .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.loginPage .container .videoDivcontainer .footerDiv .text {
  color: var(--whiteColor);
}
.loginPage .container .videoDivcontainer .footerDiv .btn {
  background: var(--whiteColor);
  color: black;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.loginPage .container .videoDivcontainer .footerDiv .btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}
.loginPage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginPage .container .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}
.loginPage .container .formDiv .headerDiv img {
  width: 300px;
  padding-bottom: 0.5rem;
}
.loginPage .container .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--blackColor);
  font-weight: 800;
}
.loginPage .container .formDiv .form {
  gap: 1.5rem;
}
.loginPage .container .formDiv .form .inputDiv .icon {
  color: black;
}
.loginPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
}
.loginPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 18px;
  padding: 0.5rem 0;
  display: block;
}
.loginPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColour);
  border-radius: 10px;
}
.loginPage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: white;
  border-radius: 10px;
  color: black;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn:hover {
  background: black;
  color: white;
  font-size: 25px;
  transform: scale(1.1);
}
.loginPage .container .formDiv .form .btn:hover .icon {
  color: white;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .forgotpassword {
  font-size: 16px;
  color: var(--blackColor);
  opacity: 7;
  text-align: center;
}

.RegisterPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 223);
}
.RegisterPage .container {
  height: 100vh;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}
.RegisterPage .container .videoDivcontainer {
  position: relative;
  display: flex;
  flex-basis: 30%;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.RegisterPage .container .videoDivcontainer video, .RegisterPage .container .videoDivcontainer .footerDiv {
  position: absolute;
}
.RegisterPage .container .videoDivcontainer video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.RegisterPage .container .videoDivcontainer .textDiv {
  position: relative;
}
.RegisterPage .container .videoDivcontainer .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.RegisterPage .container .videoDivcontainer .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.RegisterPage .container .videoDivcontainer .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.RegisterPage .container .videoDivcontainer .footerDiv .text {
  color: var(--whiteColor);
}
.RegisterPage .container .videoDivcontainer .footerDiv .btn {
  background: var(--whiteColor);
  color: black;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.RegisterPage .container .videoDivcontainer .footerDiv .btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}
.RegisterPage .container .formContainer {
  height: 100vh;
  overflow-y: auto;
}
.RegisterPage .container .formDiv {
  flex-basis: 70%;
  width: 140vh;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
  justify-content: center;
}
.RegisterPage .container .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}
.RegisterPage .container .formDiv .headerDiv img {
  width: 200px;
  padding-bottom: 0.5rem;
}
.RegisterPage .container .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--blackColor);
  font-weight: 800;
}
.RegisterPage .container .formDiv .form {
  gap: 1rem;
}
.RegisterPage .container .formDiv .form .inputDiv .icon {
  color: black;
}
.RegisterPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 100%;
}
.RegisterPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 18px;
  padding: 0.5rem 0;
  display: block;
}
.RegisterPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColour);
  border-radius: 10px;
  width: 80vh;
}
.RegisterPage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: white;
  border-radius: 10px;
  color: black;
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.RegisterPage .container .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.RegisterPage .container .formDiv .form .btn:hover {
  background: black;
  color: white;
  font-size: 25px;
  transform: scale(1.1);
}
.RegisterPage .container .formDiv .form .btn:hover .icon {
  color: white;
  transition: 0.3s ease;
}

.RegisterPage .container .formDiv .form .inputDiv .input select {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColour);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.loginPage .container .formDiv .form .inputDiv .input select{
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColour);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
/*# sourceMappingURL=App.css.map */